/* FX SLIDE RIGHT */
.slide-fade-enter-active {
    transition: all .8s ease;
}

.slide-fade-leave-active {
    transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.slide-fade-enter,
.slide-fade-leave-to {
    opacity: 0;
}

.slide-fade-enter {
    transform: translateX(40px);
}

.slide-fade-leave-to {
    transform: translateX(-50px);
}

/* FX FADE */
.fade-enter-active,
.fade-leave-active {
    transition: opacity .5s;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}